<template name="invite_item_sender">
	<section>
		<div class="ui center aligned basic segment">
			<h1>Great!</h1>
			<p>You sent a request to {{> invite_friends}}</p>
			{{> invite_activity}}
			{{> invite_when}}
			{{> invite_location}}
			{{#if send_sms_done}}
				<div class="ui orange message">
					<div class="header">Your nod has been sent</div>
				</div>
			{{/if}}
			<button class="ui orange circular segment m1 button">
		        <span class="header">Re-nod</span>
		    </button>
		</div>
	</section>
</template>
