<template name="invite_item_receiver">
	<div class="ui massive fluid inverted orange one item menu">
		<a href="/" class="item">Let's Do Something!</a>
	</div>
	<section>
		<div class="ui center aligned basic very padded segment">
			{{inviter_name}} is inviting you to
			{{> invite_activity}}
			{{> invite_when}}
			at {{> invite_location}}
		</div>
		<div class="ui basic inverted yellow segment">
			<div class="ui three column stackable doubling grid">
				<div class="center aligned column">
					<a href="{{url_accept}}" class="ui large green button">Accept</a>
				</div>
				<div class="center aligned column">
					<a href="{{url_deny}}" class="ui large red button">Another time</a>
				</div>
				<div class="center aligned column">
					<a href="{{url_forward}}" class="ui large orange button">Forward to Friend</a>
				</div>
			</div>
		</div>
	</section>
</template>
