<template name="activity">
	<section>
		<div class="ui center aligned basic segment">
			<h1>What do you want to do?</h1>
		</div>
		<div class="ui basic clearing segment">
			{{> activity_form}}
		</div>
		<div class="ui basic center aligned segment">
			<h3>My activity history</h3>
		</div>
		<div class="ui basic no-padding segment">
			{{> React component=ActivityComponent}}
		</div>
		<div class="ui basic very padded center aligned segment">
			Like our hackathon project <a href="https://www.facebook.com/Garage48/photos/a.10155410694157142/10155410694637142/?type=3&theater" target="_blank">on Facebook</a>!
		</div>
	</section>
</template>
