.h100 {
	height: 100% !important;
	min-height: 100vh !important;
}

.h100vh {
	height: 100vh;
}

.h100percent {
	height: 100%;
}

.m1 {
	margin: 1rem !important;
}

.orange-text {
	color: #f26202;
}

.no-padding {
	padding: 0 !important;
}

.ui.menu {
	border-radius: 0 !important;
}

.ui.segment,
.ui.orange.segment:not(.inverted) {
	border: none !important;
}

.selectable {
	cursor: pointer;
}
